# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\ZAVRSNI_RAD\ZR-Lukacevic\zr-lukacevic\SOFTWARE\Backend\smartbell\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
